@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #47494C;
}
.container-grid {
    width:  1400px;
    height: 100%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    height: 130px;
    background-color: #0660CB ;
}
.logo a {
    height: 100%;
}
.banner {
    background-color: #47494C;
    background-image: url(../img/bgnote.jfif);
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.texto-banner {
    width: 1400px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    text-align: left;

}
.sub-texto-banner {
    width: 1400px;
    font-size: 50px;
}
.posicao-texto {
    justify-content: flex-end;
    height: 800px;
}
.categorias {
    background-color: #47494C;
    justify-content: space-between;
    
}
.cel-coluna1 {
    width: calc(100% - 520px);
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    background-image: url(../img/BG-compras.svg);
    background-repeat: no-repeat;
}
.cel-coluna2 {
    width: calc(100% - 520px);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    background-image: url(../img/BG-compras.svg);
    background-repeat: no-repeat;
}
.cel-coluna3 {
    width: calc(100% - 520px);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    background-image: url(../img/BG-compras.svg);
    background-repeat: no-repeat;
}
.promocoes {
    width: 100%;
    display: inline-flex;   
    justify-content: space-evenly;
}
.rodape {
    margin-top: 20px;
    background-color: white;
    display:flex;
    justify-content: center;
}
.imgs-rodape {
    margin-top: 20px;
        margin-bottom: 20px;
    width: calc(100% - 520px);
    display: inline-flex;
    justify-content: space-evenly;
}
.rodape-direita {
    display: flex;
    flex-direction: column;
}
.botoes-rodape {
    display: inline-flex;
    justify-content: space-between;
}
.botoes-rodape a img {
    height: 100px;
    width: 100px;
}